<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Two-Column Layout</title>
    <!-- remember to route relative to index.php  -->
    <script type="text/javascript" src="./assets/js/homepage.js"></script>
    <!--<link rel="stylesheet" href="../../styles/homepage.css">-->
    <link rel="stylesheet" href="./assets/styles/homepage.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="left-box d-flex flex-column justify-content-center">
        <h1>My Portfolio</h1>
        <h3>Web Developer & Designer</h3>
    </div>
    <div class="right-content">
        <div class="experience">
            <h2>Experiences</h3>
            <div id="role-1">
                <h5 class="job-title">Cybersecurity Intern</h4>
                <p class="job-description">
                   I make things secure at Lockheed Martin
                </p>
            </div>
            <div id="role-2">
                <h5 class="job-title">Lab Assistant</h4>
                <p class="job-description">
                   Conducts research on drone visualization using simulated and 
                   physical environments, allowing drones to use cameras, infrared, 
                   and other sensors to avoid obstacles while moving toward a target 
                   location autonomously. Commits 9+ hours a week towards lab setup 
                   and maintenance, including robot and enclosure assembly and management
                </p>
            </div>
            <div id="role-3">
                <h5 class="job-title">Tutor</h4>
                <p class="job-description">
                    Mentored 10+ college students weekly at the CS Help Center on 
                    subject concepts and assignments. Aid on conceptual and technical 
                    concepts, including specific homework, lab assignments, and debugging 
                    issues. Provide one-on-one mentorship through the Higher Education 
                    Opportunity Program.
                </p>
            </div>
            <div id="more-experience-button">
                <a href="./views/main/experiences.html" class="btn btn-success">More Experiences</a>
            </div>
        </div>
        <hr class="my-4">
        <div class="education">

        </div>
        <div class="intrests">

        </div>
    </div>
</body>
</html>